@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

button {
    margin: 20px;
}

.wBtn {
    width: 138px;
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 14px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.wBtnIndigo {
    background-color: aliceblue;
    color: #1e6b7b;
}

.wBtn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}
.wBtn:active {
    transform: scale(1.5);
}